@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Mulish:wght@700&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Outfit:wght@400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 24px;
}

.container {
    background-image: url("blackjack.jpg");
    width: 300px;
    border-radius: 10px;
    -webkit-box-shadow: -4px 13px 30px 0px rgba(194,194,194,1);
    -moz-box-shadow: -4px 13px 30px 0px rgba(194,194,194,1);
    box-shadow: -4px 13px 30px 0px rgba(194,194,194,1);
    padding: 20px;
}

.container h1 {
    color: goldenrod;
    font-weight: bold;
    padding: 20px 0px;
    font-size: 48px;
}

.container p {
    padding: 10px 0px;
}

button {
    background-color: goldenrod;
    border: none;
    padding: 10px 10px;
    font-size: 24px;
    margin: 5px;
    width: 100%;
    font-weight: bold;
    color: #477D1B;
    transition: 0.3;
}

button:hover {
    opacity: 0.8;
}

.button-container {
    padding: 0px 10px;
}

#new {
    display: none;
}